services:
  traefik:
    image: traefik:v3.4.0
    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: any
    networks:
      - keiko_network
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
      - ./traefik_dynamic.toml:/traefik_dynamic.toml
      - ./acme.json:/acme.json
      - ../certs/traefik.infra.local.pem:/certs/traefik.infra.local.pem
      - ../certs/traefik.infra.local-key.pem:/certs/traefik.infra.local-key.pem
      - ../certs/portainer.infra.local.pem:/certs/portainer.infra.local.pem
      - ../certs/portainer.infra.local-key.pem:/certs/portainer.infra.local-key.pem
      - ../certs/grafana.infra.local.pem:/certs/grafana.infra.local.pem
      - ../certs/grafana.infra.local-key.pem:/certs/grafana.infra.local-key.pem

    logging:
      options:
        max-size: "10m"
        max-file: "3"

networks:
  keiko_network:
    external: true